$btn-color: #7dde75;

.btn-action {
  background-color: #bdf0b8;
  border-radius: 10px;
  color: #000000;
  font-size: 18px;

  &:hover {
    background-color: $btn-color;
    color: white;
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    overflow: hidden;
    border-radius: 10px;
  }
}

.btn-sec-action {
  background-color: #587356;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  &:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    overflow: hidden;
    border-radius: 10px;
  }
}
