// Import page-specific CSS files here.
@import "home";

@media(max-width: 992px) {
  .white-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .white-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .white-cards {
    grid-template-columns: 1fr;
  }
}
