
<div class="container">
  <h3>Top-rated pets to borrow in your area:
    <%= link_to pets_path do %>
        <% icon('fas', 'list-alt') %>
      <% end %>
  </h3>

  <div class="container">
    <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
