<div class="background-container d-flex py-4 align-items-center">
  <div class="landing-banner d-flex justify-content-left align-items-center px-5">
    <p>
      <span data-controller="typed-js" style="color: rgb(180, 180, 180)"></span>
    </p>
  </div>

  <div class="img-container d-flex flex-column justify-content-end align-items-end">
    <div class="description-container">
      <%= image_tag '3d-desgin.png', class: "3d-img", size: "210" %>
      <div class="buttun-role">
        <%= link_to "I'm a Owner", dashboard_path %>
      </div>
    </div>
    <div class="description-container">
      <%= image_tag '3d-desgin2.png', class: "3d-img", size: "210" %>
      <div class="buttun-role">
        <%= link_to "I'm a Borrower", pets_path %>
      </div>

    </div>
  </div>
</div>
