.navbar-lewagon {
  background: white;
  display: flex;
  position: sticky;
  top: 0px;
  // border-bottom: 2px solid #8080808c;
  box-shadow: 0px 3px 3px rgba(105, 105, 105, 0.32);
  z-index: 1;
}
// background: white;
// display: flex;
// position: sticky;
// top: 0px;
// box-shadow: 0px 3px 3px rgb(114 114 114 / 32%);
// z-index: 1;

.navbar-lewagon .navbar-collapse {
  flex-grow: auto;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  cursor: pointer;
}

// For dropdown
.dropdown-list-icon {
  height: 28px;
  cursor: pointer;
}

// for profile
.profile {
  cursor: pointer;
}

// For the search bar
.search-bar {
  border: 1px solidgray;
  border-radius: 30px;
}

.button {
  border: none;
  background-color: rgb(81, 207, 81);
  color: rgb(255, 255, 255);
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-family:'Times New Roman', Times, serif;
}
