.white-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.white-card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;

  .white-card-img {
    overflow: hidden;
    border-radius: 5%;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    // transition: transform 0.4s ease-in-out;
    // filter: grayscale(1s);
    transition: all 1s ease-in-out;
  }

  p {
    font-size: smaller;
    margin-bottom: 0px;
    padding: 1% 5% 0%;
  }

  &:hover {
    color: #399d2f;
  }

  &:hover img {
    transform: scale(1.05);
    // filter: grayscale(0);
  }
}

.pet-info {
  position: relative;
  margin-top: 10px;
}

.toilet-trained {
  position: absolute;
}
